out: ./style.css
// *************************** FONTS *************************
@font-face {
  font-family: 'muse-500';
  src: url('../assets/fonts/muse_500.otf');
}
@font-face {
  font-family: 'muse-300';
  src: url('../assets/fonts/muse_round_300.ttf');
}
@font-face {
  font-family: 'OpenSans';
  src: url('../assets/fonts/open_sans_reg.ttf');
}
@font-face {
  font-family: 'OpenSans-Semibold';
  src: url('../assets/fonts/open_sans_semibold.ttf');
}
// *************************** VARIABLES *************************

// Old design color: #5fc0c3
// New design color: #03a9f4
// - main color: #5fc0c3;
// - white-color: #ffffff;
// - dark grey color: #565659;
// - light gray color: #5a6175;

@main-color:  #5fc0c3;
@white-color: #ffffff;
@dark-grey-color: #565659;
@light-gray-color: #5a6175;
@black-color: #000000;

@muse_500: "muse-500", Arial, sans-serif;
@muse_round_300: "muse-300", Georgia, serif;
@open_sans_reg: "OpenSans", Helvetica, Arial, sans-serif;
@open_sans_semibold: "OpenSans-Semibold", Arial, sans-serif;

// *************************** CUSTOM RESET *************************

/* http://meyerweb.com/eric/tools/css/reset/
   v2.0 | 20110126
   License: none (public domain)
*/

html, body, div, span, applet, object, iframe, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}

// ************************* Nav bar ***********************

#navbar {
  height: 80px;
  background-color: @white-color !important;
  padding: 20px 68px 20px 86px;
  .navbar-toggler {
    background: @main-color;
    border: none;
  }
  .navbar-brand {

    img {
      width: 154px;
    }
  }
  #navbarSupportedContent {
    padding-top: 2px;
  }
  .navbar-nav {
    .nav-item {
      .nav-link {
        padding: 11px 25px;
        border: 2px solid transparent;
        color: @dark-grey-color;
        font-weight: 400;
        font-size: 14px;
        font-family: @muse_500;
        transition: all 0.3s ease-out;
        border-radius: 2px;
      }
      .link {
        padding-top: 12px !important;

      }
      // .nav-link:hover, nav-link:active {
      //   border-color: @main-color;
      //   background-color: @main-color;
      //   color: white !important;
      // }
      .link {
        padding: 11px 14px !important;
        margin: 0;
      }
      #blog {
        margin-right: 18px;
      }
      #join {
        color: @main-color;
        border: 2px solid #abdedc;
        margin-top: -1px;
      }
    }

  }
}

// ******************************** HEADER *****************************
#header {
  overflow: hidden;
  #header-container {
    padding-bottom: 1px;
    background: url('../assets/img/Header.png');
    background-position: left top;
    background-repeat: no-repeat;
    background-size: cover;
    #text-container {
      padding-top: 53px;
      padding-bottom: 82px;
      h1, h2, p {
        color: @white-color;
        line-height: 2em;
        margin-bottom: 0px;
      }
      h1 {
        font-family: @muse_round_300;
        font-size: 55px;
      }
      h2 {
        font-family: @open_sans_reg;
        font-size: 17px;
        letter-spacing: 0.066px;
        margin-top: -2px;
      }
      .text-p {
        margin-top: 23px;
        margin-bottom: 24px;
        p {
          line-height: 1.52em;
          font-family: @open_sans_reg;
          font-size: 14px;
          letter-spacing: -0.03px;
          line-height: 1.6;
        }
      }
    }
  } // End header-container

  #header-footer {
    height: 115px;
    padding: 23px 68px 22px 84px;
    background-color: #f1f2f5;
    border-bottom: 1px solid #fafafb;
    border-top: 1px solid #c4c5ca;
    .btn-register {
      padding: 0 20px;
      padding-top: 16px;
      padding-bottom: 11px;
      font-family: @muse_500;
      font-size: 14px;
      color: @white-color;
      border: none;
      background-color: @main-color;
      border-radius: 1px;
      float: right;
      margin-top: 13px;
   }
    #event-detail {
      p {
        margin: 0;
        line-height: 2em;
      }
      #hightlighted {
        font-family: @muse_500;
        font-size: 17px;
        color: @main-color;
      }
      #date {
        font-family: @muse_500;
        font-size: 17px;
        color: @dark-grey-color;
        letter-spacing: 0px;
        sup {
          font-size: 10px;
        }
        #semibold {
          font-family: @open_sans_semibold;
          letter-spacing: -0.09px;
        }
      }
      #location {
        font-family: @open_sans_reg;
        line-height: 1.7em;
        font-size: 14px;
        color: #4d546a;
        letter-spacing: -0.039px;
      }
    }
  } // End footer-container
}

// ****************************** GET INVOLVED ************************

#get-involved {
    .container-fluid {
      padding: 33px 68px 38px 72px;
      h3 {
        font-family: @muse_500;
        font-size: 26px;
        margin-bottom: 38px;
      }
      .row {
        .col-md-4 {
          h4, p {
            margin: 0px;
          }
          .img-container {
            height: 108px;
            img {
              display: block;
              margin: 0 auto;
            }
            #meet {
              margin-top: 8px;
              width: 130px;
              height: 95px;
            }
            #collab {
              margin-left: 138px;
              width: 112px;
              height: 109px;
            }
            #share {
              margin-left: 143px;
              margin-top: 7px;
              width: 109px;
              height: 107px;
            }
          }
          #meet-container {
            margin-bottom: 28px;
          }
          #collab-container {
            margin-bottom: 37px;
          }
          #share-container {
            margin-bottom: 30px;
          }
          h4 {
            font-family: @muse_500;
            font-size: 17px;
            margin-bottom: 16px;
          }
          p {
            font-family: @open_sans_reg;
            font-size: 14px;
            line-height: 1.7;
            letter-spacing: -0.039px;
          }
          .collab {
            margin-left: 11px;
          }
          .share {
            margin-left: 23px;
          }
          button {
            padding: 12px 55px;
            color: @main-color;
            border: 1px solid #89cfd4;
            background-color: @white-color;
            font-size: 14px;
            text-transform: uppercase;
            border-radius: 2px;
            font-family: @muse_500;
          }
          #meet-btn {
            margin-top: 25px;
            padding: 12px 48px 11px 48px;
          }
          #collab-btn {
            padding: 14px 55px 10px 53px;
            margin-top: 23px;

          }
          #share-btn {
            padding: 13px 46px 11px 46px;
            margin-top: 23px;
          }
        }
      }
    }
  }

// **************************** MISSION SECTION **************************
#mission {
  background-color: #f1f2f5;
  padding: 36px 68px 0px 85px;
  border-top: 1px solid #fcfcfd;
  transition: all 0.7s ease-out;
  .container {
    padding: 0;
    padding-bottom: 49px;
    border-bottom: 1px solid #dcdde0;
    #text-container {
      margin-right: 13px;
      margin-bottom: 88px;
      h3, h4, h5 {
        margin-bottom: 0px;
      }
      h3 {
        font-family: @muse_500;
        color: #565659;
        font-size: 26px;
      }
      h5 {
        margin-right: 6px;
        margin-top: 24px;
        font-family: @open_sans_reg;
        color: #747a8b;
        font-size: 14px;
        line-height: 2em;
        letter-spacing: -0.04px;
      }
      h4 {
        margin-right: 5px;
        margin-top: 13px;
        font-family: @muse_500;
        color: #5a6175;
        font-size: 17px;
        line-height: 2.2em;
        letter-spacing: 0.038px;
      }
    }
    .row {
      .col-md-4 {
        .card {
          padding-bottom: 35px;
          border: none;
          border-radius: 5px;
          .img-container {
            margin: 0 auto;
            margin-top: -50px;
            img {
              padding-top: 0px;
              background-color: white;
              border-radius: 50%;
              height: 100px;
              width: 100px;
            }
          }
          .card-body {
            padding: 0;
            .card-title {
              color: @main-color;
              margin-top: 4px;
              margin-bottom: 15px;
              font-size: 17px;
              font-family: @muse_500;
            }
            .card-text {
              margin: 0;
              font-family: @open_sans_reg;
              font-size: 14px;
              line-height: 1.7em;
              letter-spacing: -0.03px;
            }
          }
          #charity {
            p, h4 {
              padding-right: 4px;
            }
          }
          #together {
            h4 {
              padding-right: 2px;
            }
            p {
              letter-spacing: -0.05px;
            }
          }
          #courage {
            h4 {
              letter-spacing: 0.19px;
            }
            p {
              letter-spacing: -0.01px;
            }
          }
        }
      }
    }
  }
}

// **************************** MEMBERS SECTION **************************

#member {
  background-color: #f1f2f5;
  padding-top: 44px;
  .container {
    h3 {
      font-family: @muse_500;
      font-size: 26px;
      margin-right: 6px;
    }
//     .owl-carousel .owl-stage {
//     display: flex;
// }
//
    #carousel-member {
      .owl-stage-outer {
        height: 166px;
        .owl-stage {
          display: flex;
          align-items: center;
          .owl-item {
            img {
              width: auto;
              height: 100%;
            }
            #member1 {
              width: 139px;
              height: auto;
            }
            #member2 {
              width: 148px;
              height: 22px;
            }
            #member3 {
              width: 105px;
              height: 34px;
            }
            #member4 {
              width: 81px;
              height: 81px;
            }
            #member5 {
              width: 108px;
              height: 108px;
            }
            .outer1 {
              padding-top: 25px;
              padding-left: 13px;
            }
            .outer2 {
              padding-top: 27px;
              padding-left: 12px;
            }
            .outer3 {
              padding-top: 22px;
              padding-left: 35px;
            }
            .outer4 {
              padding-top: 19px;
              padding-left: 48px;
            }
            .outer5 {
              position: relative;
              top: 11px;
              left: 29px;
            }
          }
        }
      }
    }
    .owl-carousel .owl-dots.disabled {
      display: inline-block;
      position: relative;
      top: -33px;
      right: 3px;
      .owl-dot span {
        margin: 8px 5px;
      }
    }
    .owl-theme .owl-dots .owl-dot.active span,
    .owl-theme .owl-dots .owl-dot:hover span {
      background-color: @main-color !important;
    }
    .owl-theme .owl-dots .owl-dot span {
      background-color: #989fb2 !important;
    }
  }
}

// **************************** BLOG SECTION **************************
#blog {
  z-index: 2;
  margin-top: -11px;
  margin-bottom: 5px;
  padding: 27px 29px 0px 46px;
  background-color: @white-color;
  .container-fluid {
    h3 {
      font-family: @muse_500;
      font-size: 26px;
      color: #565659;
      margin-right: 11px;
      margin-bottom: 27px;
    }
    #carousel-blog {
      .item {
        a {
          text-decoration: none;
          hr {
            margin: 9px 0px 14px 0px;
          }
          .date {
            margin: 23px 0px 18px 0px;
          }
          h4 {
            font-family: @open_sans_semibold;
            font-size: 14px;
            color: @main-color;
          }
          p {
            color: @light-gray-color;
            font-family: @open_sans_reg;
            font-size: 14px;
          }
          .main-p {
            line-height: 1.7em;
            letter-spacing: -0.05px;
          }
        }
      }
    }
    .owl-carousel {
      padding: 0px 22px !important;
      .owl-nav {
        display: inline-block;
      }
      .owl-item {
        overflow-x: hidden;
        width: 257.25px !important;
        // margin-right: 14px !important;
        .item {
        }
      }
      .owl-prev {
        position: absolute;
        top: 29%;
        left: -2%;
        font-size: 33px;
        color: @main-color;
      }
      .owl-next {
        position: absolute;
        top: 29%;
        right: -2%;
        font-size: 33px;
        color: @main-color;
      }
    }
  }
}

// **************************** FOOTER **************************

#footer {
  background-color: #454850;
  .container-fluid {
    padding: 33px 67px 19px 86px;
    .social {
      padding-bottom: 29px;
      margin-left: -2px;
      a {
        color: @main-color;
        font-size: 17px;
        margin-right: 19px;
      }
      border-bottom: 2px solid #4e525b;
    }
    .copyright {
      padding-top: 24px;
      p {
        font-family: @open_sans_reg;
        font-size: 14px;
        color: #9199b1;
        margin-left: -22px;
        .company {
          color: @main-color;
        }
      }
    }
  }
}


// // **************************** MEDIA QUERY **************************
//
// // Only applied when screen width is 300 or higher
// // @media only screen and (min-width: 300px) {
// //   #navbar {
// //     box-shadow: 0px 1px 7px @light-gray-color;
// //   }
// // }
//
// // Why choose 414, because it's now the largest mobile phone screen size
// @media only screen and (max-width: 414px) {
//   #header #footer-container p {
//      letter-spacing: 1px;
//      line-height: 1.6;
//   }
//   #get-involved .container .row .col-md-4 a {
//     margin-bottom: 20px;
//   }
//   #event .container .row .col-md-4 .card {
//     margin-bottom: 35px;
//   }
//   #event {
//     padding-bottom: 0px;
//   }
//   #mission {
//     opacity: 1 !important;
//   }
// }
