@font-face {
  font-family: 'muse-500';
  src: url('../assets/fonts/muse_500.otf');
}
@font-face {
  font-family: 'muse-300';
  src: url('../assets/fonts/muse_round_300.ttf');
}
@font-face {
  font-family: 'OpenSans';
  src: url('../assets/fonts/open_sans_reg.ttf');
}
@font-face {
  font-family: 'OpenSans-Semibold';
  src: url('../assets/fonts/open_sans_semibold.ttf');
}
/* http://meyerweb.com/eric/tools/css/reset/
   v2.0 | 20110126
   License: none (public domain)
*/
html,
body,
div,
span,
applet,
object,
iframe,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
  display: block;
}
body {
  line-height: 1;
}
ol,
ul {
  list-style: none;
}
blockquote,
q {
  quotes: none;
}
blockquote:before,
blockquote:after,
q:before,
q:after {
  content: '';
  content: none;
}
table {
  border-collapse: collapse;
  border-spacing: 0;
}
#navbar {
  height: 80px;
  background-color: #ffffff !important;
  padding: 20px 68px 20px 86px;
}
#navbar .navbar-toggler {
  background: #5fc0c3;
  border: none;
}
#navbar .navbar-brand img {
  width: 154px;
}
#navbar #navbarSupportedContent {
  padding-top: 2px;
}
#navbar .navbar-nav .nav-item .nav-link {
  padding: 11px 25px;
  border: 2px solid transparent;
  color: #565659;
  font-weight: 400;
  font-size: 14px;
  font-family: "muse-500", Arial, sans-serif;
  transition: all 0.3s ease-out;
  border-radius: 2px;
}
#navbar .navbar-nav .nav-item .link {
  padding-top: 12px !important;
}
#navbar .navbar-nav .nav-item .link {
  padding: 11px 14px !important;
  margin: 0;
}
#navbar .navbar-nav .nav-item #blog {
  margin-right: 18px;
}
#navbar .navbar-nav .nav-item #join {
  color: #5fc0c3;
  border: 2px solid #abdedc;
  margin-top: -1px;
}
#header {
  overflow: hidden;
}
#header #header-container {
  padding-bottom: 1px;
  background: url('../assets/img/Header.png');
  background-position: left top;
  background-repeat: no-repeat;
  background-size: cover;
}
#header #header-container #text-container {
  padding-top: 53px;
  padding-bottom: 82px;
}
#header #header-container #text-container h1,
#header #header-container #text-container h2,
#header #header-container #text-container p {
  color: #ffffff;
  line-height: 2em;
  margin-bottom: 0px;
}
#header #header-container #text-container h1 {
  font-family: "muse-300", Georgia, serif;
  font-size: 55px;
}
#header #header-container #text-container h2 {
  font-family: "OpenSans", Helvetica, Arial, sans-serif;
  font-size: 17px;
  letter-spacing: 0.066px;
  margin-top: -2px;
}
#header #header-container #text-container .text-p {
  margin-top: 23px;
  margin-bottom: 24px;
}
#header #header-container #text-container .text-p p {
  line-height: 1.52em;
  font-family: "OpenSans", Helvetica, Arial, sans-serif;
  font-size: 14px;
  letter-spacing: -0.03px;
  line-height: 1.6;
}
#header #header-footer {
  height: 115px;
  padding: 23px 68px 22px 84px;
  background-color: #f1f2f5;
  border-bottom: 1px solid #fafafb;
  border-top: 1px solid #c4c5ca;
}
#header #header-footer .btn-register {
  padding: 0 20px;
  padding-top: 16px;
  padding-bottom: 11px;
  font-family: "muse-500", Arial, sans-serif;
  font-size: 14px;
  color: #ffffff;
  border: none;
  background-color: #5fc0c3;
  border-radius: 1px;
  float: right;
  margin-top: 13px;
}
#header #header-footer #event-detail p {
  margin: 0;
  line-height: 2em;
}
#header #header-footer #event-detail #hightlighted {
  font-family: "muse-500", Arial, sans-serif;
  font-size: 17px;
  color: #5fc0c3;
}
#header #header-footer #event-detail #date {
  font-family: "muse-500", Arial, sans-serif;
  font-size: 17px;
  color: #565659;
  letter-spacing: 0px;
}
#header #header-footer #event-detail #date sup {
  font-size: 10px;
}
#header #header-footer #event-detail #date #semibold {
  font-family: "OpenSans-Semibold", Arial, sans-serif;
  letter-spacing: -0.09px;
}
#header #header-footer #event-detail #location {
  font-family: "OpenSans", Helvetica, Arial, sans-serif;
  line-height: 1.7em;
  font-size: 14px;
  color: #4d546a;
  letter-spacing: -0.039px;
}
#get-involved .container-fluid {
  padding: 33px 68px 38px 72px;
}
#get-involved .container-fluid h3 {
  font-family: "muse-500", Arial, sans-serif;
  font-size: 26px;
  margin-bottom: 38px;
}
#get-involved .container-fluid .row .col-md-4 h4,
#get-involved .container-fluid .row .col-md-4 p {
  margin: 0px;
}
#get-involved .container-fluid .row .col-md-4 .img-container {
  height: 108px;
}
#get-involved .container-fluid .row .col-md-4 .img-container img {
  display: block;
  margin: 0 auto;
}
#get-involved .container-fluid .row .col-md-4 .img-container #meet {
  margin-top: 8px;
  width: 130px;
  height: 95px;
}
#get-involved .container-fluid .row .col-md-4 .img-container #collab {
  margin-left: 138px;
  width: 112px;
  height: 109px;
}
#get-involved .container-fluid .row .col-md-4 .img-container #share {
  margin-left: 143px;
  margin-top: 7px;
  width: 109px;
  height: 107px;
}
#get-involved .container-fluid .row .col-md-4 #meet-container {
  margin-bottom: 28px;
}
#get-involved .container-fluid .row .col-md-4 #collab-container {
  margin-bottom: 37px;
}
#get-involved .container-fluid .row .col-md-4 #share-container {
  margin-bottom: 30px;
}
#get-involved .container-fluid .row .col-md-4 h4 {
  font-family: "muse-500", Arial, sans-serif;
  font-size: 17px;
  margin-bottom: 16px;
}
#get-involved .container-fluid .row .col-md-4 p {
  font-family: "OpenSans", Helvetica, Arial, sans-serif;
  font-size: 14px;
  line-height: 1.7;
  letter-spacing: -0.039px;
}
#get-involved .container-fluid .row .col-md-4 .collab {
  margin-left: 11px;
}
#get-involved .container-fluid .row .col-md-4 .share {
  margin-left: 23px;
}
#get-involved .container-fluid .row .col-md-4 button {
  padding: 12px 55px;
  color: #5fc0c3;
  border: 1px solid #89cfd4;
  background-color: #ffffff;
  font-size: 14px;
  text-transform: uppercase;
  border-radius: 2px;
  font-family: "muse-500", Arial, sans-serif;
}
#get-involved .container-fluid .row .col-md-4 #meet-btn {
  margin-top: 25px;
  padding: 12px 48px 11px 48px;
}
#get-involved .container-fluid .row .col-md-4 #collab-btn {
  padding: 14px 55px 10px 53px;
  margin-top: 23px;
}
#get-involved .container-fluid .row .col-md-4 #share-btn {
  padding: 13px 46px 11px 46px;
  margin-top: 23px;
}
#mission {
  background-color: #f1f2f5;
  padding: 36px 68px 0px 85px;
  border-top: 1px solid #fcfcfd;
  transition: all 0.7s ease-out;
}
#mission .container {
  padding: 0;
  padding-bottom: 49px;
  border-bottom: 1px solid #dcdde0;
}
#mission .container #text-container {
  margin-right: 13px;
  margin-bottom: 88px;
}
#mission .container #text-container h3,
#mission .container #text-container h4,
#mission .container #text-container h5 {
  margin-bottom: 0px;
}
#mission .container #text-container h3 {
  font-family: "muse-500", Arial, sans-serif;
  color: #565659;
  font-size: 26px;
}
#mission .container #text-container h5 {
  margin-right: 6px;
  margin-top: 24px;
  font-family: "OpenSans", Helvetica, Arial, sans-serif;
  color: #747a8b;
  font-size: 14px;
  line-height: 2em;
  letter-spacing: -0.04px;
}
#mission .container #text-container h4 {
  margin-right: 5px;
  margin-top: 13px;
  font-family: "muse-500", Arial, sans-serif;
  color: #5a6175;
  font-size: 17px;
  line-height: 2.2em;
  letter-spacing: 0.038px;
}
#mission .container .row .col-md-4 .card {
  padding-bottom: 35px;
  border: none;
  border-radius: 5px;
}
#mission .container .row .col-md-4 .card .img-container {
  margin: 0 auto;
  margin-top: -50px;
}
#mission .container .row .col-md-4 .card .img-container img {
  padding-top: 0px;
  background-color: white;
  border-radius: 50%;
  height: 100px;
  width: 100px;
}
#mission .container .row .col-md-4 .card .card-body {
  padding: 0;
}
#mission .container .row .col-md-4 .card .card-body .card-title {
  color: #5fc0c3;
  margin-top: 4px;
  margin-bottom: 15px;
  font-size: 17px;
  font-family: "muse-500", Arial, sans-serif;
}
#mission .container .row .col-md-4 .card .card-body .card-text {
  margin: 0;
  font-family: "OpenSans", Helvetica, Arial, sans-serif;
  font-size: 14px;
  line-height: 1.7em;
  letter-spacing: -0.03px;
}
#mission .container .row .col-md-4 .card #charity p,
#mission .container .row .col-md-4 .card #charity h4 {
  padding-right: 4px;
}
#mission .container .row .col-md-4 .card #together h4 {
  padding-right: 2px;
}
#mission .container .row .col-md-4 .card #together p {
  letter-spacing: -0.05px;
}
#mission .container .row .col-md-4 .card #courage h4 {
  letter-spacing: 0.19px;
}
#mission .container .row .col-md-4 .card #courage p {
  letter-spacing: -0.01px;
}
#member {
  background-color: #f1f2f5;
  padding-top: 44px;
}
#member .container h3 {
  font-family: "muse-500", Arial, sans-serif;
  font-size: 26px;
  margin-right: 6px;
}
#member .container #carousel-member .owl-stage-outer {
  height: 166px;
}
#member .container #carousel-member .owl-stage-outer .owl-stage {
  display: flex;
  align-items: center;
}
#member .container #carousel-member .owl-stage-outer .owl-stage .owl-item img {
  width: auto;
  height: 100%;
}
#member .container #carousel-member .owl-stage-outer .owl-stage .owl-item #member1 {
  width: 139px;
  height: auto;
}
#member .container #carousel-member .owl-stage-outer .owl-stage .owl-item #member2 {
  width: 148px;
  height: 22px;
}
#member .container #carousel-member .owl-stage-outer .owl-stage .owl-item #member3 {
  width: 105px;
  height: 34px;
}
#member .container #carousel-member .owl-stage-outer .owl-stage .owl-item #member4 {
  width: 81px;
  height: 81px;
}
#member .container #carousel-member .owl-stage-outer .owl-stage .owl-item #member5 {
  width: 108px;
  height: 108px;
}
#member .container #carousel-member .owl-stage-outer .owl-stage .owl-item .outer1 {
  padding-top: 25px;
  padding-left: 13px;
}
#member .container #carousel-member .owl-stage-outer .owl-stage .owl-item .outer2 {
  padding-top: 27px;
  padding-left: 12px;
}
#member .container #carousel-member .owl-stage-outer .owl-stage .owl-item .outer3 {
  padding-top: 22px;
  padding-left: 35px;
}
#member .container #carousel-member .owl-stage-outer .owl-stage .owl-item .outer4 {
  padding-top: 19px;
  padding-left: 48px;
}
#member .container #carousel-member .owl-stage-outer .owl-stage .owl-item .outer5 {
  position: relative;
  top: 11px;
  left: 29px;
}
#member .container .owl-carousel .owl-dots.disabled {
  display: inline-block;
  position: relative;
  top: -33px;
  right: 3px;
}
#member .container .owl-carousel .owl-dots.disabled .owl-dot span {
  margin: 8px 5px;
}
#member .container .owl-theme .owl-dots .owl-dot.active span,
#member .container .owl-theme .owl-dots .owl-dot:hover span {
  background-color: #5fc0c3 !important;
}
#member .container .owl-theme .owl-dots .owl-dot span {
  background-color: #989fb2 !important;
}
#blog {
  z-index: 2;
  margin-top: -11px;
  margin-bottom: 5px;
  padding: 27px 29px 0px 46px;
  background-color: #ffffff;
}
#blog .container-fluid h3 {
  font-family: "muse-500", Arial, sans-serif;
  font-size: 26px;
  color: #565659;
  margin-right: 11px;
  margin-bottom: 27px;
}
#blog .container-fluid #carousel-blog .item a {
  text-decoration: none;
}
#blog .container-fluid #carousel-blog .item a hr {
  margin: 9px 0px 14px 0px;
}
#blog .container-fluid #carousel-blog .item a .date {
  margin: 23px 0px 18px 0px;
}
#blog .container-fluid #carousel-blog .item a h4 {
  font-family: "OpenSans-Semibold", Arial, sans-serif;
  font-size: 14px;
  color: #5fc0c3;
}
#blog .container-fluid #carousel-blog .item a p {
  color: #5a6175;
  font-family: "OpenSans", Helvetica, Arial, sans-serif;
  font-size: 14px;
}
#blog .container-fluid #carousel-blog .item a .main-p {
  line-height: 1.7em;
  letter-spacing: -0.05px;
}
#blog .container-fluid .owl-carousel {
  padding: 0px 22px !important;
}
#blog .container-fluid .owl-carousel .owl-nav {
  display: inline-block;
}
#blog .container-fluid .owl-carousel .owl-item {
  overflow-x: hidden;
  width: 257.25px !important;
}
#blog .container-fluid .owl-carousel .owl-prev {
  position: absolute;
  top: 29%;
  left: -2%;
  font-size: 33px;
  color: #5fc0c3;
}
#blog .container-fluid .owl-carousel .owl-next {
  position: absolute;
  top: 29%;
  right: -2%;
  font-size: 33px;
  color: #5fc0c3;
}
#footer {
  background-color: #454850;
}
#footer .container-fluid {
  padding: 33px 67px 19px 86px;
}
#footer .container-fluid .social {
  padding-bottom: 29px;
  margin-left: -2px;
  border-bottom: 2px solid #4e525b;
}
#footer .container-fluid .social a {
  color: #5fc0c3;
  font-size: 17px;
  margin-right: 19px;
}
#footer .container-fluid .copyright {
  padding-top: 24px;
}
#footer .container-fluid .copyright p {
  font-family: "OpenSans", Helvetica, Arial, sans-serif;
  font-size: 14px;
  color: #9199b1;
  margin-left: -22px;
}
#footer .container-fluid .copyright p .company {
  color: #5fc0c3;
}
